h1 {
    font-size: 120%;
    font-family: Verdana;
    color: mediumpurple;
}
h2 {
    font-size: 100%;
    font-family: Arial;
    color: cornflowerblue;
}
h3 {
    font-size: 100%;
    font-family: Verdana;
    color: cornflowerblue;
}
ul.menu {
    background: #b6ff00;
    color: #cornflowerblue
}
tr.table {
    font-size: 112%;
    font-family: Verdana;
    background :mediumpurple;
    color: aliceblue
}
body {
    background-color: #FFB6C1;
    }
